<template>
    <div v-if="loaded" class="information">
        <h1>Información de su cuenta</h1>
        <h2>Correo electrónico: <span>{{user.email}}</span></h2>

        <div class="signUp_user">
            <div class="container_signUp_user">

                <form v-on:submit.prevent="processUpdateUser">                           
                    <strong>Nombre:</strong> <input type="text" v-model="user.name"  placeholder="Name" />
                    <br />
                    <strong>Estado:</strong> <input type="text" v-model="user.status" placeholder="Estado" />
                    <br />
                    <strong>Contraseña:</strong> <input type="password" v-model="user.password" placeholder="Password" />
                    <button type="submit">Actualizar</button>
                </form>        
            </div>
        </div>
    </div>
    
</template>

<script>
import axios from 'axios';
export default {
    name: "Account",

    data: function() {
        return {
            loaded: false,
            user: {
                email: "",
                password: "",
                status: "",
                name: "",
            },
        }
    },

    methods: {

        processUpdateUser: async function() {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");            
            axios.put('http://127.0.0.1:8000/user/', this.user, {headers: {'Authorization': `Bearer ${token}`}})            
            .then((result) => {                                
                alert("Actualización Exitosa");
            })
            .catch( (error) => {
                
                console.log(error);
                this.$emit('logOut');
            });



        },

        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");            
            axios.get('http://127.0.0.1:8000/user/', {headers: {'Authorization': `Bearer ${token}`}})            
            .then((result) => {                                
                this.user.name = result.data.name;
                this.user.email = result.data.email;
                this.user.status = result.data.status;
                this.loaded = true;
            })
            .catch( (error) => {
                
                console.log(error);
                this.$emit('logOut');
            });
        },

        verifyToken: function () {
            return axios.post("http://127.0.0.1:8000/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            .catch(() => {
                this.$emit('logOut');
            });
        },
    },

    created: async function(){
        this.getData();
    },

}
</script>

<style>

.information{
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information h1{
    font-size: 60px;
    color: #0f1316;
}

.information h2{
    font-size: 40px;
    color: #283747;
}

.information span{
    color: crimson;
    font-weight: bold;
}

.signUp_user {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_signUp_user {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp_user h2 {
  color: #283747;
}
.signUp_user form {
  width: 70%;
}
.signUp_user input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}
.signUp_user button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}
.signUp_user button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}

</style>