<template>

    <div class="mainComponent">
        <div class="createChat">
            <div class="formularioChat">
                <h2>Crear Chat</h2>
                <form v-on:submit.prevent="processChat">
                    <input type="text" v-model="chat.name" placeholder="Nombre"/>
                    <br />
                    <input type="text" v-model="chat.color" placeholder="Color"/>
                    <br />                    
                    <button type="submit">Guardar</button>
                </form>

            </div>
            <div class="listChats">

                <h2>Lista de Chats</h2>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    <tr v-for="chat in chats" v-bind:key="chat.id">
                        <th>{{chat.id}}</th>
                        <th>{{chat.name}}</th>
                        <th><button>Enviar Mensajes</button> <button v-on:click="verIntegrantes(chat.id)">Ver Integrantes</button></th>
                    </tr>
                </table>

                
            </div>
        
        </div>

        <div class = "createIntegrantes">

            <div class="formularioChat">
                <h2>Crear Integrante</h2>
                <form v-on:submit.prevent="processIntegrante">
                    <input type="text" v-model="integrante.user" placeholder="Email"/>
                    <br />                    
                    <input type="checkbox"  v-model="integrante.isAdmin" /> 
                    <span>¿Es Administrador?</span>
                    <br />       
                    <input type="text" v-model="integrante.chat" placeholder="Id Chat"/>             
                    <button type="submit">Guardar</button>
                </form>

            </div>

            <div class="integrantes">

            <h2>Lista de Integrantes del Chat <span>{{chatID}}</span></h2>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Administrador</th>
                    <th>Acciones</th>
                </tr>
                <tr v-for="integrante in integrantes" v-bind:key="integrante.id">
                    <th>{{integrante.id}}</th>
                    <th>{{integrante.email}}</th>
                    <th>{{integrante.name}}</th>
                    <th>{{integrante.isAdmin}}</th>
                    <th><button button v-on:click="eliminarIntegrante(integrante.id)">Eliminar</button></th>
                </tr>
            </table>
            
            </div>

        </div>

        
    </div>



    
    
</template>

<script>
import axios from 'axios';
export default {
    name: "Chats",

    data: function() {
        return {            
            chat : {
                color: "",
                name: ""
            },
            chats: [],
            chatID: "",
            integrantes: [],
            integrante : {
                user: "",
                isAdmin: false,
                chat: ""
            }
        }
    },

    methods: {

        processIntegrante: async function() {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");            
            axios.post('http://127.0.0.1:8000/integrante/', this.integrante, {headers: {'Authorization': `Bearer ${token}`}})            
            .then((result) => {                  
                alert("Integrante creado exitosamente")              
                this.verIntegrantes(this.integrante.chat)
            })
            .catch( (error) => {
                
                console.log(error);      
                alert("El correo dado no está registrado en la plataforma")          
            });
        },

        eliminarIntegrante : async function(id) {

            this.chatID = id;

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");            
            axios.delete(`http://127.0.0.1:8000/integrante/${id}/`, {headers: {'Authorization': `Bearer ${token}`}})            
            .then((result) => {                                  
                this.integrantes = this.integrantes.filter(function(value, index, arr){ 
                    return value.id != id;
                });
            })
            .catch( (error) => {
                
                console.log(error);      
                alert("No tiene los permisos suficientes para eliminar un integrante de ese chat")          
            });


        },


        verIntegrantes : async function(id) {

            this.chatID = id;

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");            
            axios.get(`http://127.0.0.1:8000/integrante/${id}/`, {headers: {'Authorization': `Bearer ${token}`}})            
            .then((result) => {                                  
                this.integrantes = result.data;
            })
            .catch( (error) => {
                
                console.log(error);      
                alert("No fue posible obtener los integrantes del chat")          
            });


        },

        processChat: async function() {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");            
            axios.post('http://127.0.0.1:8000/chat/', this.chat, {headers: {'Authorization': `Bearer ${token}`}})            
            .then((result) => {                  
                alert("Chat creado exitosamente")              
                this.chats.push(result.data)
            })
            .catch( (error) => {
                
                console.log(error);      
                alert("No fue posible crear la sala de chat")          
            });
        },

        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");            
            axios.get('http://127.0.0.1:8000/chat/', {headers: {'Authorization': `Bearer ${token}`}})            
            .then((result) => {                                
                this.chats = result.data;                
            })
            .catch( (error) => {
                
                console.log(error);
                this.$emit('logOut');
            });
        },

        verifyToken: function () {
            return axios.post("http://127.0.0.1:8000/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            .catch(() => {
                this.$emit('logOut');
            });
        },
    },

    created: async function(){
        this.getData();
    },
}
</script>

<style>

.mainComponent {

    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.createChat{
    margin: 5px;
    padding: 0%;
    width: 48%;
    height: 100%;
    float: left;
    
    
}

.createIntegrantes {
    float: right;
    margin: 5px;    
    width: 50%;
    height: 100%;       
    align-items: center;
    display: flex;    
    flex-direction: column;    
}

.integrantes {
    border: 3px solid #283747;
    border-radius: 10px;
    width: 100%;
    height: 64%;
    align-items: center;
    display: flex;    
    flex-direction: column;    
}

.formularioChat {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.listChats {
    
    border: 3px solid #283747;
    border-radius: 10px;
    width: 100%;
    height: 64%;
    align-items: center;
    display: flex;    
    flex-direction: column;    

}

.formularioChat form 
{
    width: 70%;
}

.formularioChat h2 {
  color: #283747;
}

.formularioChat input[type="text"] {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}

.formularioChat button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}
.formularioChat button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}

.integrantes table {
    border-collapse: collapse;
    width: 80%;
    margin: 5px;
}

.listChats table {
    border-collapse: collapse;
    width: 80%;
    margin: 5px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>